certifi==2017.11.5
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
-e git://github.com/elliotzlin/flask-oauth.git@8a5776e7b979def24c5cc2d8b659025cf892e3c4#egg=Flask_OAuth
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauth2==1.9.0.post1
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.15
urllib3==1.26.5
Werkzeug==0.12.2
